.backbutton__container {
  height: 40px;
  width: 40px;
  margin-top: 30px;
  margin-left: 5%;
  /* border: 1px solid yellow; */
}

.arrow {
  height: 20px;
  width: 20px;
  border: 6px solid red;
}

.left-arrow {
  border-right: transparent;
  border-bottom: transparent;
  transform: rotate(-45deg);
}
