
.powered__by-container {
  max-width: 650px;
  margin: 0 auto;
  background-color: #333;
  align-self: baseline;
  padding: 40px 0 10px;

}

.powered__by-container img {
  height: 6vh;
  max-height: 60px;
  min-height: 40px;
  margin: 0 auto;
}
