@import url('https://fonts.googleapis.com/css?family=Questrial|Roboto:300,400,900');

body {
  background: #333;
  font-family: 'Roboto', sans-serif;
}

.app {
  max-width: 650px;
  margin: 0 auto;
}

.full-flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-shadow {
  text-shadow: 1px 1px 14px rgba(0, 0, 0, .3);
}
